<div id="page-header">
    <div id="header" class="wrapper themeall">
        <div id="title">
            <a href="/" class="image" tabindex="1">LendingTree</a>
        </div>
        <div id="phonenum"></div>
        <div id="header-right">
            <nav itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <div id="site-navigation-wrapper">
                    <ul id="site-navigation" class="navigation-list">
                        <li class="navigation-item first" itemprop="name">
                            <a href="/mortgage-refinance-index" itemprop="url">Refinance</a>
                        </li>
                        <li class="navigation-item" itemprop="name">
                            <a href="/mortgage-loans-index" itemprop="url">Mortgage</a>
                        </li>
                        <li class="navigation-item" itemprop="name">
                            <a href="/auto-loans-index" itemprop="url">Auto Loans</a>
                        </li>
                        <li class="navigation-item" itemprop="name">
                            <a href="/personal-loans-index" itemprop="url">Personal Loans</a>
                        </li>
                        <li class="navigation-item" itemprop="name">
                            <a href="/business-loans" itemprop="url">Business Loans</a>
                        </li>
                        <li class="navigation-item" itemprop="name">
                            <a href="/redirect/offers?id=cc-cw-main" itemprop="url" rel="nofollow">Credit Cards</a>
                        </li>
                        <li class="navigation-item all last">
                            <a>All <span class="unicode-marker">&#8744;</span></a>
                            <div class="all-items">
                                <ul class="unstyled">
                                <li class="first" itemprop="name"><a href="/home-loan-overview">Home Loans</a></li>
		                        <li itemprop="name"><a href="/mortgage-refinance-index" itemprop="url">Refinance</a></li>
		                        <li itemprop="name"><a href="/mortgage-loans-index" itemprop="url">Buy a Home</a></li>
		                        <li itemprop="name"><a href="/pre-approval-index" itemprop="url">Prequalification</a></li>
		
		                        <li itemprop="name"><a href="/current-mortgage-rates?listviewname=style5&theme=metro" itemprop="url">LoanExplorer</a></li>
		                        <li itemprop="name"><a href="/reverse-mortgage-index" itemprop="url">Reverse Mortgage</a></li>
		                        <li itemprop="name"><a href="/home-equity-loans-index" itemprop="url">Home Equity</a></li>
		                        <li itemprop="name"><a href="/fha-loans-index" itemprop="url">FHA Loans</a></li>
		                        <li itemprop="name"><a href="/va-loans-index" itemprop="url">VA Loans</a></li>
		                        <li itemprop="name"><a href="/mortgage-rates" itemprop="url">Mortgage Rates</a></li>
		                        <li class="last" itemprop="name"><a href="/refinance-rates" itemprop="url">Refinance Rates</a></li>
                                </ul>
                                <ul class="unstyled auto">
                                    <li class="first" itemprop="name"><a href="/autos-overview">Auto</a></li>
		                        <li itemprop="name"><a href="/auto-loans-index" itemprop="url">Auto Loans</a></li>
		                        <li itemprop="name"><a href="/auto-refinance-index" itemprop="url">Auto Refinance</a></li>
		                        <li itemprop="name"><a href="/auto-insurance-index" itemprop="url">Auto Insurance</a></li>
		                        <li itemprop="name"><a href="/auto-payment-calculator" itemprop="url">Auto Loan Calculator</a></li>
		                        <li itemprop="name"><a href="/auto-refinance-calculator" itemprop="url">Auto Refinance Calculator</a></li>
		                        <li class="last" itemprop="name"><a href="https://autos.lendingtree.com/?icid=lt-nav" target="_blank">Shop for Cars</a></li>
                                </ul>
                                <ul class="unstyled personal">
                                    <li class="first" itemprop="name"><a href="/credit-overview">Personal Finance</a></li>
		                        <li itemprop="name"><a href="/free-credit-index" itemprop="url">Free Credit Score</a></li>
		                        <li itemprop="name"><a href="/personal-loans-index" itemprop="url">Personal Loans</a></li>
		                        <li itemprop="name"><a href="/credit-cards-index" itemprop="url">Credit Cards</a></li>
		                        <li itemprop="name"><a href="/small-business-loans-index" itemprop="url">Small Business Loans</a></li>
		                        <li itemprop="name"><a href="/student-loans-index" itemprop="url">Student Loans</a></li>
		                        <li itemprop="name"><a href="/student-loan-refinancing-index" itemprop="url">Student Loan Refinance</a></li>
		                        <li itemprop="name"><a href="/credit-repair-services-index" itemprop="url">Credit Repair</a></li>
		                        <li itemprop="name"><a href="/debt-consolidation-index" itemprop="url">Debt Consolidation</a></li>
		                        <li class="last" itemprop="name"><a href="/personal-loan-rates">Personal Loan Rates</a></li>
                                </ul>
                                <ul class="unstyled tools">
                                    <li class="first" itemprop="name"><a>Tools &amp; Learning</a></li>
		                        <li itemprop="name"><a href="/loans" itemprop="url">Loans Overview</a></li>
		                        <li itemprop="name"><a href="/mortgage-calculators" itemprop="url">Mortgage Calculators</a></li>
		                        <li itemprop="name"><a href="/mortgage-negotiator" itemprop="url">Mortgage Negotiator</a></li>
		                        <li itemprop="name"><a href="/mortgage-checkup" itemprop="url">Mortgage Checkup</a></li>
		                        <li itemprop="name"><a href="/current-mortgage-rates?listviewname=style5&theme=metro" itemprop="url">Live Mortgage Rates</a></li>
		                        <li itemprop="name"><a href="/lender-reviews" itemprop="url">Ratings &amp; Reviews</a></li>
		                        <li itemprop="name"><a href="/local-loan-officer-directory" itemprop="url">Loan Officer Directory</a></li>
		                        <li><a href="/articles">Advice &amp; Articles</a></li>
		                        <li itemprop="name"><a href="/question/ask" itemprop="url">Ask a Question</a></li>
		                        <li itemprop="name"><a href="/glossary" itemprop="url">Glossary</a></li>
		                        <li itemprop="name"><a href="/mortgage-news/articles">Mortgage News</a></li>
		                        <li class="last" itemprop="name"><a href="/videos">Videos</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="navigation-item search last">
                <form action="/search" class="ui-autocomplete-wrapper" id="siteSearchForm" method="get">
                    <input id="term" name="q" type="text" rel="#search" maxlength="128">
                    <input type="submit" class="ui-button-icon-primary ui-icon ui-icon-search" rel="#search" id="search_button" title="Search" value="">
                </form>
            </li>
                    </ul>
                </div>
            </nav>
            <div class="top"></div>
        </div>
    </div>
</div>